.email {
  padding: 20px 0;
  text-align: center;
}

.emphasise {
  color: #1CB954;
}

.row {
  display: flex;
  margin: 50px 0;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row img {
  width: 200px;
  height: 200px;
}