/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles */
html,
body {
  height: 100%;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

/* Fonts */
@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.3.0/fonts/circular-black.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.3.0/fonts/circular-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.3.0/fonts/circular-bold.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.3.0/fonts/circular-bold.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

h1, h2, h3, p, a {
  letter-spacing: -0.04em;
  line-height: 1.15;
  font-family: Circular, Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 900;
  margin: 10px;
  color: #FFF;
  font-size: calc(1.3rem + .7vw);
}

h2 {
  font-size: calc(1rem + .7vw);
  margin-bottom: 20px;
}

h3 {
  font-size: calc(.8rem + .7vw);
  margin-bottom: 80px;
}

p, a {
  font-size: calc(.7rem + .7vw);
  color: #000;
  font-weight: 200;
  line-height: 1.8;
  padding: 0 20px;
  width: 560px;
}

a {
  color: #1CB954;
}
